latex/thesis.aux
latex/thesis.bbl
latex/thesis.blg
latex/thesis.log
latex/thesis.out
latex/thesis.pdf
latex/thesis.synctex.gz
code/Rcode/.Rhistory
code/Rcode/.RData
code/Rcode/.Rhistory
code/PyCode/__pycache__/REM.cpython-310.pyc
code/PyCode/__pycache__/config.cpython-310.pyc
code/PyCode/__pycache__/dataset.cpython-310.pyc
code/PyCode/__pycache__/REM.cpython-38.pyc
code/PyCode/__pycache__/config.cpython-38.pyc
code/PyCode/__pycache__/dataset.cpython-38.pyc
code/Rcode/.RData
code/Rcode/.Rhistory
code/data/matrix.npy

.DS_Store
code/.DS_Store
code/PyCode/__pycache__/config.cpython-39.pyc
code/PyCode/__pycache__/dataset.cpython-39.pyc
code/PyCode/__pycache__/make_plots.cpython-39.pyc
code/PyCode/__pycache__/visuals.cpython-39.pyc
